:root {
    --bg-width: 619.277108434vh;
    --bg-height: 100vh;
}

body {
    height: var(--bg-height);
    background: url('/resources/images/biomes.png') repeat-x 0 0;
    background-size: cover;
    background-position: center;
    -webkit-animation: bg-scrolling 14s infinite; /* Safari 4+ */
    -moz-animation:    bg-scrolling 14s infinite; /* Fx 5+ */
    -o-animation:      bg-scrolling 14s infinite; /* Opera 12+ */
    animation:         bg-scrolling 14s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function:    linear;
    -o-animation-timing-function:      linear;
    animation-timing-function:         linear;
}

/* Animations */
@keyframes bg-scrolling {
    0% { background-position: var(--bg-width)  0; }
    100% { background-position: 0 0; }
}
