:root {
    --bg-width: 557.34939756vh; /* multiply 6.192771084 by the height value, example: 6.192771084 * 90 for 90% of the vh */
    --bg-height: 90vh;
}

.scrolling-bg {
    position: relative;
    top: 0;
    min-height: var(--bg-height);
    height: var(--bg-height);
    max-height: var(--bg-height);
    background: url('/resources/images/biomes.png') repeat-x 0 0;
    background-size: cover;
    background-position: center;
    -webkit-animation: bg-scrolling 14s infinite; /* Safari 4+ */
    -moz-animation:    bg-scrolling 14s infinite; /* Fx 5+ */
    -o-animation:      bg-scrolling 14s infinite; /* Opera 12+ */
    animation:         bg-scrolling 14s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function:    linear;
    -o-animation-timing-function:      linear;
    animation-timing-function:         linear;
    z-index: 1;
}
nav , main{
    position: relative;
    top: -90vh;
    min-height: 20vh;
    background: transparent !important;
    z-index: 2;
}

.road{
    position: absolute;
    top:47vh;
    left: 0px;
    background: url('/resources/images/fond_accueil.png') 0 0;
    background-size: cover;
    width: 100vw;
    min-height: 200vh;
    z-index: 3;
}

/* Animations */
@keyframes bg-scrolling {
    0% { background-position: var(--bg-width)  0; }
    100% { background-position: 0 0; }
}
