.app-profile {
    text-align: left;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-likes-title {
    color: black;
    font-size: 115%;
}
.voyage-likes {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
}

.voyage-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 25%;
    padding: 15px;
}

.voyage-box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.voyage-box h3 {
    margin: 15px 0 10px;
    font-size: 18px;
}

.voyage-box p {
    color: #666;
    font-size: 14px;
}

.voyage-box small {
    font-size: 12px;
    color: #888;
}
.van {
    position: absolute; 
    transform: translateY(-50%);
    z-index: 99999;
    left: 0;
    bottom: 16%;
    
    animation: van-life 3.8s linear infinite;
  }
  
  /* Animation pour rouler et traverser l'écran */
  @keyframes van-life {
    0% {
      transform: translate(-100%, -50%);
    }
    100% {
      transform: translate(100vw, -50%);
    }
  }
body { 
    background:
    bottom 0 right 50% /100% url('/resources/images/route3.svg'),
    top 20% left 0 url('/resources/images/nuage3.svg'),
    top 40% right 0 url('/resources/images/nuage4.svg'),
    top 60% left 0 url('/resources/images/nuage5.svg'),
    linear-gradient(180deg, rgba(103,207,255,1) 0%, rgba(169,205,251,1) 100%);
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    }
    
main{
    height: 100%;
}

.profile{
    position: relative;
    width: 100%;
    height: 100%;
}

.profile h2{
    font-size: 56px;
    font-family: 'Oswald-Regular';
    text-transform: capitalize;
}

.profile h1{
    font-size: 64px;
    font-family: 'Newwake';
    text-transform: capitalize;
    color: black;
    margin: 0;
}

.profile .mail{
    font-size: 56px;
    font-family: 'Oswald-Regular';
    color: black;
}